<div class="container-fluid">
    <div class="container row m-auto justify-content-center">
        <div class="content col-lg-6 col-md-8 col-sm-10 col-12">
        <h3>Module Federation Introduction!</h3>
           <p>
            Module Federation is an advanced feature in Webpack that provides a way for a JavaScript application 
            to dynamically load code from another application. This feature allows for efficient code sharing and 
            dependency management.
           </p>
           <p>___ Module Federation works hand in hand with Micro Frontends</p>
        <h3>
            What is Module Federation?
        </h3>
        <p>
            Module Federation allows JavaScript applications to share code and dependencies at runtime. 
            This means that applications can consume modules from other applications without the need for duplication, 
            leading to more efficient and maintainable codebases
        </p>
       
    
        <p-image src="assets/images/module-federation-pros-cons.png" alt="mf-example" width="100%" [preview]="true" />

        <h6>Created By Hassan Kurdi</h6>
        
        </div>
    </div>
</div>