<div class="container-fluid row justify-content-center">
    <div class="col-lg-10 col-12">

        <div class="grid-layout-ltr">
          <lib-org-chart-prime class="item-1" [data]="orgChartData"></lib-org-chart-prime>
          <lib-pie-chart-prime class="item-2" ></lib-pie-chart-prime>
          <lib-chart-prime class="item-3" ></lib-chart-prime>
        </div>
        <div class="grid-layout-rtl">
          <lib-table-prime class="item-1-r"></lib-table-prime>
          <lib-radar-chart class="item-2-r"></lib-radar-chart>
          <!-- <lib-table-prime class="item-2-r"></lib-table-prime> -->
        </div>

        <!-- <div class="parent">
          <div class="div1">1 </div>
          <div class="div2"> 2</div>
          <div class="div3"> 3</div>
          <div class="div4"> 4</div>
          <div class="div5"> 5</div>
          <div class="div6"> 6</div>
          <div class="div7"> 7</div>
          <div class="div8"> 8</div>
          <div class="div9"> 9</div>
          <div class="div10">10 </div>
          </div>
 -->



        <!-- <div class="grid-layout">
         
          <div class="second-column ">
           <lib-pie-chart-prime ></lib-pie-chart-prime>
          </div>
          <div class="third-column">
           <lib-chart-prime ></lib-chart-prime>
          </div>

          <div class="big-column">
           
           </div>
       </div> -->
       

    </div>
</div>