<!-- <div class="firt-qoute">
    "Our application is growing...
Our teams need flexibility...
What if we could scale without limits?"
</div> -->
<div class="home-container">
    <div class="ai-img">
        <img src="assets/images/ai-technology.png" alt="">
    </div>
    <div class="header-content">
        <h1>Welcome To <span class="colored-text">MFE</span> Presentation</h1>
        <h6>Created By Hassan Kurdi</h6>
    </div>
</div>
<div class="home-ui-container">
    <lib-home-ui></lib-home-ui>
</div>
