<div class="container-fluid">
    <div class="container row m-auto justify-content-center">
        <div class="content col-lg-6 col-md-8 col-sm-10 col-12">
        <h3>Micro Frontends vs Monolithic</h3>
        <hr>
        <h5>
             Monolithic 👇
            </h5>
          
            <ul class="menu-check-list">
                <li> Simple to Develop & Deploy</li>
                <li>Better Performance</li>
            </ul>
            <ul class="menu-wrong-list">
                <li>Slower Development for Large Teams</li>
                <li>Harder to Scale</li>
            </ul>
            <h3>EX:</h3>
            <div class="flex justify-center p-0 m-0"> 
                <p-image src="assets/compare/monolithic.jpg" alt="mfe-example" width="100%" [preview]="true" />
          </div>
        <hr>
        <h5>
        Micro Frontends 👇
        </h5>
      
        <ul class="menu-check-list">
            <li>Independent Deployment</li>
            <li> Technology Flexibility</li>
            <li>Faster Development</li>
        </ul>
        <ul class="menu-wrong-list">
            <li>Complex Setup</li>
            <li>Potential Performance Overhead</li>
        </ul>
        <h3>EX:</h3>
        <div class="flex justify-center p-0 m-0"> 
            <p-image src="assets/compare/monorepo.jpg" alt="mfe-example" width="100%" [preview]="true" />
      </div>
        <h6>Created By Hassan Kurdi</h6>
        </div>
    </div>
</div>