.content{
    background-color: hsl(0, 0%, 90%);
    margin-top: 50px;
    padding: 50px;
    border-radius: 8px;
    border: #ccc 1px solid;
}
/* .dash-p{
    position: relative;
}

.dash-p::before{
content: " ";
width: 25px;
height: 2px;
background-color: #000;
position: absolute;
border-radius: 2px;
margin-left: -26px;
margin-top: 15px;
} */