<div class="container-fluid">
    <div class="container row m-auto justify-content-center">
        <div class="content col-md-6 col-sm-8 col-12">
        <h3>Micro Frontends Overview!</h3>
           <p>
            In recent years, Micro Frontends Architecture has emerged as a popular trend in systems design, 
            especially for large-scale web applications. As the front-end landscape becomes increasingly complex, 
            monolithic architectures are showing their limitations. Micro frontends offer a solution by breaking down front-end applications into smaller, 
            manageable pieces.
           </p>
           <p>___ Mirroring the principles of microservices on the backend.</p>
        </div>
    </div>
</div>